html {
    background-color: #f4f7f6; /* A soft background color */
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #76b852, #8DC26F); /* A green gradient background */
}

.container {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    min-width: 450px;
    max-width: 900px;
    margin: 15px;
}

h1 {
    color: #333;
    margin-bottom: 2rem;
}

input[type="number"] {
    width: 100%;
    min-width: 200px;
    max-width: 450px;
    padding: 10px 20px; /* Comfortable padding around the text */
    margin-bottom: 1rem; /* Space between the input fields */
    border: 2px solid #ced4da;
    border-radius: 5px;
    font-size: 1rem; /* Readable font size */
    display: block; /* Ensures the input takes full width */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.denomination-output {
    font-size: 1rem;
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 30px 0;
}

.twenties-output {width:50%; background-image: url('./img/twn.jpg'); }
.tens-output {transform:scale(0.5);width: 50%; background-image: url('./img/ten.jpg'); }
.fives-output {transform:scale(0.5);width: 50%; background-image: url('./img/fiv.jpg'); }
.ones-output {transform:scale(0.5);width: 50%; background-image: url('./img/one.jpg'); }
.quarters-output {transform:scale(0.5); background-image: url('./img/quar.jpg'); }
.dimes-output {transform:scale(0.5); background-image: url('./img/dim.jpg'); }
.nickels-output {transform:scale(0.5); background-image: url('./img/nic.jpg'); }
.pennies-output {transform:scale(0.5); background-image: url('./img/pen.jpg'); }

button {
    width: 100%;
    padding: 15px 20px; /* Larger padding for a touch-friendly button */
    margin-top: 20px;
    background-color: #5cb85c; /* A green color to match the theme */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #4cae4c; /* A slightly darker green for the hover state */
}

.alert {
    font-size: 1rem;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
